.container {
  flex: 1;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.header {
  display: flex;
  width: "100%";
  flex-direction: row;
  justify-content: space-between;
  height: 56px;
  margin-right: 116px;
  margin-left: 116px;
  margin-top: 40px;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.nav-button {
  color: #0a1f42;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  list-style: none;
  margin-right: 20px;
}

.hero {
  display: flex;
  flex-direction: column;
  width: "100%";
  text-align: center;
  align-items: center;
  margin: 40px;
  /* padding-left: 350;
  padding-right: 350; */
}

.tagline {
  color: #0a1f42;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 600px;
  height: 116px;
}

.welcometext {
  color: #0a1f42;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 30px */
  width: 513px;
  height: 50px;
  margin: 16px;
}

.downloaddiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 672px;
  height: 72px;
  margin: 20px;
}

.downloadbutton {
  display: flex;
  height: 72px;
  padding: 10px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  background: #0a1f42;
}
.downloadtext {
  color: #fff;
  width: 222px;
  height: 24px;
  font-size: 20px;
}

.icon-style {
  width: 24px;
  height: 24px;
}

.hero_image {
  display: flex;
  height: 500;
  width: 500;
  align-items: center;
  justify-content: center;
}

.hero_image_pc {
  width: '100%';
}

.forwho {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.forwhoheader {
  color: #0a1f42;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 600px;
  height: 116px;
  margin-bottom: 100px;
}

.familyimage {
  width: '40%';
  height: 528px;
  flex-shrink: 0;
}

/* @media (max-width: 600px) {
  .header {
    Header styles for screens 600px and narrower
  }
} */


/* .image-style {
  width: 80px;
  height: 40px;
  flex-shrink: 0;
  margin-top: 10px;
} */

/* @media screen and (max-width: 425px) {
  .container {
    flex: 1;
    align-items: center;
    justify-content: center;
  }
  .navbar-container {
    background-color: red;
    flex-direction: row;
    width: 100%;
    height: 56px;
    justify-content: space-between;
  }
  .making {
    color: #0a1f42;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .welcome {
    color: #0a1f42;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
  }
  .hero {
    justify-items: flex-start;
    align-items: center;
  }
  .download-buttons {
    align-self: center;
    gap: 50px;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  .store-button {
    width: 95%;
    flex-direction: row;
    height: 56px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
    background: #0a1f42;
  }
  .button-title {
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .holdphone-style {
    width: 340px;
    height: 448px;
    flex-shrink: 0;
  }
  .navbar-button {
    border-radius: 8px;
    background-color: #9747ff;
    width: 80px;
    height: 30px;
    justify-content: center;
    align-items: center;
  }
  .navbarbutton-title {
    color: #fff;
  }
  .who {
    color: #0a1f42;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .exist {
    color: #0a1f42;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
  }
  .dummy-bg {
    height: 578px;
    width: "100%";
    background-color: #9747ff;
    padding: 10px;
  }
  .foryou {
    color: #fff;
    text-align: left;

    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .explanation {
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
  }
  .family {
    width: 322px;
    height: 322px;
    flex-shrink: 0;
  }
} */
